#gameholder {
    display: block;
    margin: 5px 300px;
    height: 500px;
    width: 500px;
    background-color: white;
}

#player {
    background-image: url("../images/nakov.png");
    background-size: 100%;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: 3;
    border: 1px solid red;
    border-radius: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ECEEEF;
    /*left:450px;
    top:300px;*/
}

body {
    background-color: black;
}

.eye, .eye2 {
    background-color: white;
    border: 1px solid #000000;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 30px;
    float: right;
    z-index: -1;
}

    .eye span, .eye2 span {
        width: 6px;
        height: 6px;
        position: absolute;
        top: 3px;
        left: 0;
        border-radius: 30px;
        background: #1D0C05;
        z-index: -1;
    }

.eye {
    top: 15px;
    left: 47px;
}

.eye2 {
    top: 36px;
    left: 45px;
}

.enemy {
    background-image: url("../images/enemy1.png");
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 100px;
    border: 1px solid red;
    z-index: 100;
}

table {
    margin: 0 0;
    margin-left: 300px;
    display: inline-block;
    background: red;
    color: yellow;
    text-align: center;
}

    table td {
        width: 250px;
    }

#enemiesCount {
}
